[Unit]
Description=Zabbix Agent 2
After=syslog.target
After=network.target

[Service]
Environment="CONFFILE=/etc/zabbix/zabbix_agent2.conf"
EnvironmentFile=-/etc/default/zabbix-agent2
Type=simple
Restart=on-failure
PIDFile=/run/zabbix/zabbix_agent2.pid
KillMode=control-group
PermissionsStartOnly=true
ExecStart=/opt/zabbix-agent2/current/zabbix_agent2 -c $CONFFILE
ExecStop=/bin/sh -c '[ -n "$1" ] && kill -s TERM "$1"' -- "$MAINPID"
ExecStartPre=-/bin/mkdir /var/run/zabbix
ExecStartPre=/bin/chown zabbix:zabbix /var/run/zabbix
RestartSec=10s
User=zabbix
Group=zabbix

[Install]
WantedBy=multi-user.target